.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f9f9f9;
	background-color: #1CD3F8;
}

.header__logo {
	height: 40px;
	object-fit: contain;
	background-color: #FFE800;
	border-radius: 5px;
	padding: 5px;
}

.header__icon {
	padding: 5px;
}

.header__slogan {
	padding: 5px;
	margin-left: 5px;
}

.header__popOutMenu {
	float: left;
}