.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f9f9f9;
	background-color: #1CD3F8;
}

.header__minimized {
	background-color: #1CD3F8;
	width: '100%';
}

.header__logo {
	height: 40px;
	object-fit: contain;
	background-color: #FFE800;
	border-radius: 5px;
	padding: 5px;
	margin-left: 5px;
}

.header__logo__minimized {
	height: 30px;
	object-fit: contain;
	background-color: #FFE800;
	border-radius: 5px;
	padding: 5px;
}

.header__icon {
	padding: 5px;
}

.header__slogan {
	padding: 5px;
	margin-left: 5px;
}

.header__toolbar__minimized > Menu {
	margin-right: 50px !important;
	width: '100%';
}

.menu  {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	width: '100%' !important;
  }

#header__accordianMenu {
	width: '100%' !important;
	background-color: #1CD3F8 !important;
}

#header__accordianDetails {
	width: '100%' !important;
	background-color: #FFE800;
}
  
.menu li {
	width: '100%' !important;
	text-align: center;
	float: left;
}
  
.menu li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	width: '100%' !important;
}
  
.menu li a:hover:not(.active) {
	background-color: #1CD3F8;
	width: '100%' !important;
}